.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7rem;
  color: white;
}

.light {
  color: #000000;
}

.dark {
  color: white;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navLinks a {
  text-decoration: none;
  color: inherit;
}

.hireMe {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.toggleDarkmode {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.logo {
  display: flex;
  gap: 1px;
}

.letter {
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 21px;
  font-weight: 500;
}

.letter:hover {
  color: rgb(46, 112, 255);
  margin-top: -0.4rem;
  transition-duration: 0.1s;
}
